body {
	background: #e2e1e0;
	padding: 10px;
	color: #34495e;
  	font-family: Trebuchet, Arial, sans-serif;
}


.card {
	width: calc(50% - 40px);
    min-width: 350px;
    max-width: 600px;
	padding: 12px 24px;
	background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  margin: 1rem;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

h1 {
	margin-top: 0;
}

.card h3 {
	margin-left: -10px;
    margin-top: 0px;
}

.card h2 {
	margin-left: -10px;
    margin-top: 10px;
}

.reload {
	color: #2ecc71;
	font-weight: bold;
	transition: color .3s;
	cursor: pointer;
	transition: color .3s;
	display: inline-block;
	transform-origin: 50% 50%;
}

.reload:hover {
	color: #27ae60;
}

.reload.clicked {
	transform: rotate(-360deg);
	transition: color .3s, transform 1s;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	background: #f7fbff7a;
	padding: 5px 15px;
	display: block;
	margin: 5px;
	border: 1px solid #cbd7e0;
	cursor: pointer;
	transition: background-color .3s;
}

ul li:hover {
	background: #f7fbff;
}

ul li.active {
	background: #e4f1ff9e;
}

ul li.active:hover {
	background: #e4f1ff;
}

ul li .title {
	margin-top: 0;
}

.student-id {
	padding: 10px 0;
}

.btn {
	cursor: pointer;
	position: relative;
  
	display: inline-block;
	margin: 30px auto;
	padding: 12px 24px;
  
	overflow: hidden;
  
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	
	background-color: #2ecc71;
	color: #ecf0f1;
	
	transition: background-color .3s;
  }
  
input[type=text],
input[type=number] {
	padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px #bebebe solid;
	display: block;
	margin-bottom: 10px;
}

  .btn:hover, .btn:focus {
	background-color: #27ae60;
  }

  .btn:before {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	display: block;
	width: 0;
	padding-top: 0;
	  
	border-radius: 100%;
	
	background-color: rgba(236, 240, 241, .3);
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
	width: 120%;
	padding-top: 120%;
	
	transition: width .2s ease-out, padding-top .2s ease-out;
  }
  
  /* Styles, not important */
  *, *:before, *:after {
	box-sizing: border-box;
  }

.btn.orange {
	background-color: #e67e22;
  }
  
  .btn.orange:hover, .btn.orange:focus {
	background-color: #d35400;
  }
  
  .btn.red {
	background-color: #e74c3c;
  }
  
  .btn.red:hover, .btn.red:focus {
	background-color: #c0392b;
  }